<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">

      <h4> Comment </h4>
      <%= form.text_area :text, rows:"5", :placeholder  => "Text" %>

        <div class="field">
              <%= form.hidden_field :user_id, value: current_user.id %>
              <%= form.hidden_field :post_id, value: "#{params[:post_id]}" %>
            </div>



        <div class="actions">
          <%= form.submit "Create", class: "btn btn-primary"%>
          <a  class="btn btn-primary" href="/posts/<%= @post %>">Cancel</a>
        </div>

            <h3> Add File</h3>
            <%= form.file_field :image, direct_upload: true %>
        </div>


      </div>

<% end %>
